body {
    background-image: url(/img/1618592772_14-funart_pro-p-oboi-fon-anime-polyana-15.jpg);
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
}

.add {
    width: 100%;    
    position: fixed;
    z-index: 20;
}

.btn {
    margin-bottom: 30px;
    width: 100vw;
}

.divmain {
    margin: 0 auto;
}

img {
    height: 120px;
    margin: auto;
    display: block;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon {
    border: 1px solid rgb(53, 11, 94);
    background-color: #37115a35;
    border-radius: 10px;
    width: 170px;
    margin: 7px;
}

div {
    padding-top: 2px;
    padding-bottom: 2px;
}

button {
    height: 30px;
    color: black;
    background-color: rgba(55, 17, 90, 0.307);
    border: none;
    cursor: pointer;
    margin: 2px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    padding: 5px;
    color: aliceblue; 
}

button:hover {
    background-color: rgba(43, 8, 77, 0.425);
    color: black
}


progress {
    cursor: pointer;
    width: 100px;
    margin: 0 5px
}

.progress_health {
    width: 95%;
}

.spanName {
    display: block;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

span {
    font-weight: 700;
    color: white;
}

.btn {
    height: 70px;
}

.add {
    background-image: url(/img/icons8-pokeball-2-96.png);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 90px;
    width: 90px;
    margin-bottom: 500px;
}

.add:hover {
    background-image: url(/img/icons8-открыть-pokeball-96.png);
    background-color: transparent;
}

